In [1]:
import pandas as pd

df = pd.read_csv("heart1.csv")

df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,150,NaN,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203.0,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174.0,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203.0,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,NaN,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,50,0,0,110,254.0,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188.0,0,1,113,0,1.4,1,1,3,0
1025,53,1,0,140,203.0,1,0,155,1,3.1,0,0,3,0
1026,44,0,2,108,141.0,0,1,175,0,0.6,1,0,2,1
1027,55,0,0,128,205.0,0,2,130,1,2.0,1,1,3,0

In [2]:
df.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1025,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
df.fillna(df.median())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,150,240.0,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203.0,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174.0,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203.0,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,240.0,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,50,0,0,110,254.0,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188.0,0,1,113,0,1.4,1,1,3,0
1025,53,1,0,140,203.0,1,0,155,1,3.1,0,0,3,0
1026,44,0,2,108,141.0,0,1,175,0,0.6,1,0,2,1
1027,55,0,0,128,205.0,0,2,130,1,2.0,1,1,3,0

In [4]:
df.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1025,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False,False,False,False,False,False